*{
    margin-left: 20px;
    margin-right: 20px;
}
h1,h2,h3{
    font-family: 'Noto Sans', sans-serif;
}
#self-intro{
    display: block;
    border: 5px solid gold;
    text-align: center;
    background-color: black;
}
#my-name{
    color: white;
    grid-column: 2/3;

}
footer{
    text-align: center;
    border: 5px solid red;


}
main {
    display: grid;
    justify-items: center;
}