*{
    margin-left: 20px;
    margin-right: 20px;
}
h1,h2,h3{
    font-family: 'Noto Sans', sans-serif;
}
nav {
    text-align: center;
}
#self-intro{
    display: block;
    border: 5px solid gold;
    text-align: center;
    background-color: black;
}
#my-name{
    color: white;
    grid-column: 2/3;

}
header{
    text-align: center;
}
footer{
    text-align: center;
    border: 5px solid red;


}
main {
    display: grid;
    justify-items: center;
}
nav a {
    color: black;
    font-size: 1.1em ;
    background-color:white;
    border-radius: 50px 50px 50px 50px;
    padding: 0.4em;
    border: 1px solid black;
}
nav a:hover {color:white; background-color:orange;}
.design-principles-content {
    text-align: center;
    justify-items: center;
    display: grid;
    grid-template-columns: auto;
    border: 3px dashed black;
}
#design-principles-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    margin-bottom: 1em;
}
.design-principles-content img{
    margin-top: 0.3em;
    max-width: 100%;
    height: auto;
}
@media (max-width: 1024px){
    #design-principles-main{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
}
@media (max-width: 580px){
    #design-principles-main{
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}