@media only screen and (min-width: 64rem) {
    nav ul li a{
        padding: .5rem 1rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #company-spotlights {
        border: .5em solid black;
        grid-row: 0,4;
    }
}
