@media only screen and (min-width: 64rem) {
    nav ul li a{
        padding: .5rem 1rem;
    }
    #warn {
        display: block;
    }
    main {
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        margin: 5px;
    }
    /* Home grid designation */

    #hero-div{grid-column: 2/3;grid-row: 1/3;}
    #company-spotlights {
        grid-column: 1/3;grid-row: 4/5;
    }
    #events{ grid-column: 1/2;grid-row: 1/2;}


    #company-spotlights {
        grid-row: 1/4;
        grid-column: 3/4;
        display:grid;
        grid-row-gap: 0.3em;
    }
    div.spotlight {margin-right: 0em;}
    footer {
        padding: 0.5em;
    }
    img#hero-img{margin: 0px;padding: 0px;float: left;}
    #contact-list{display: grid; 
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
      
      }

}
