@media only screen and (win-width: 35rem) {
    nav button{
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        justify-content: center;
    }
    nav ul li a {
        border: none;
        border-right: 1 px solid rgba(0, 0, 0, 0.3);
    }
}