@media only screen and (min-width: 32.5em) {
    nav button{
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        justify-content: center;
    }
    nav ul li a {
        border: none;
    }
    .footer-zone-1 {
        display: flex;
        flex: 1 1 auto;
        justify-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 5px;
    }
    #expiriment-to-reset-nav {
        display: block;
    }
    #signup {
        display: block;
    }
    main {
        display: grid;
    }
    #company-spotlights {
        display: flex;
        flex: 1 1 auto;
        justify-items: center;
        justify-content: space-around;
        text-align: center;
    }
    #discover-main img:hover {box-shadow: 0 0 50px #333;}
    #sign-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        grid-gap: 3px;
    }
    input[type=radio] {
        border: 0px;
        width: 100%;
        height: 1em;
    }
    .btnholder {
        display: grid;
        margin-right: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

}