@media only screen and (min-width: 64rem) {
    /* NAV */
    nav ul li a{
        padding: .5rem 1rem;
    }

    /* Header */

    Header {
        display: grid;
        grid-template-columns: 200px auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        /* align-items: center; */
        grid-gap: .5em;
        margin-bottom: -8px;
        padding-bottom: 2em;
    }
    .social-media a{
        align-items: center;
    }
}