@media only screen and (min-width: 64rem) {
    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        /* align-items: center; */
        grid-gap: .5em;
    }
}