@media only screen and (min-width: 32.5em) {
    /* NAV */
    nav button{
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        justify-content: center;
    }
    nav ul li a {
        border: none;
    }
    #expiriment-to-reset-nav {
        display: block;
    }
    /* Footer */
    div.social-media a:hover {
        background-color: rgba(0, 0, 0, .3);
        border: 1px solid rgba(0, 0, 0, .3);
        border-radius: 5px 5px 5px 5px;
        padding: .2em;
    }
    div#services-con {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5em;
    }
}